:root{
    --color-primary: blue;
    --color-white: white;
    --color-black: black;
    --color-black-1: rgb(57, 49, 49);

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    font-family:'Times New Roman', Times, serif;
}
.topnav{
    overflow: hidden;
    background-color: rgb(173, 201, 233);
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 6px;
    font-size: 13px;
  }

  .topnav  button:hover {
    background: #ccc;
  }



  .topnav  button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 11px;
    background: #ddd;
    font-size: 11px;
    border: none;
    cursor: pointer;
  }


  .topnav [type=text], .topnav  button {
    float: right;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 11px;
  }


.menu_bar{
    background-color:rgb(221, 196, 164);
    height: 80px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo{
    color:bisque;
    font-size: 30px;

}

.logo span{

    color:brown;

}

.menu_bar ul{
    list-style: none;
    display:flex;

}

.menu_bar ul li{
    padding: 10px 30px;
    position: relative;

}

.menu_barul li a{
    color:aquamarine;
    text-decoration: none;
    font-size: 20px;

    transition: all 0.3s;
}

.menu_bar ul li a:hover{
    color: blueviolet;
}


.dropdown_menu{

    display: none;
}



.menu_bar ul li:hover .dropdown_menu{
    display:block;
    position: absolute;
    left:0;
    top:100%;
    background-color: burlywood;

}

.menu_bar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu ul li{
    width: 150px;
    padding: 10px;
}

.fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown_menu1{
    display: none;
}

.dropdown_menu ul li:hover .dropdown_menu1{
    display:block;
    position: absolute;
    left:150px;
    top:0;
    background-color: burlywood;
    text-decoration: underline;

}


.hero{
    height: calc(100vh - 80px);
    background-color: rgb(251, 237, 215)
    
}



.float-container > div > div:hover{
    background-color: aqua;
    transform: rotate(15deg) scale(1.1) translateX(-15px);
}


.float-container > div{
    width: 25%;
    float: left;
    box-sizing: border-box;

   
}

.float-container > div > div{
    height:100px;
    margin: 50px;
    background-color: white;
    border:1px solid blue ;
    box-shadow: 10px 10px 8px 10px #888888;
    transition: 0.3s ease-out;
   /**transition-delay: 1s;**/
    

}

.float-container > .double{
    width: 50%;

}

.float-container::after{
    content: '';
    display: block;
    clear: both;
}


