h1{
    border-bottom: 3px solid pink;
}

img{
    border: 3px solid bisque;
    width:33%;
    height: auto;
    object-fit: contain;
   
}

div{
 
    text-align: center;
}

h3{
    color: rgb(233, 147, 50)
}

ul{
    color: cornflowerblue ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
}

table,th,td{
    border: 2px solid rgb(168, 86, 100);
    background-color: beige;



}

th{
    text-align: center;
    text-size-adjust: bold;

}

td{
    text-align: center;
    text-size-adjust: bold;
}

/**
.button1{
    position:absolute;
    background-color: bisque;
}

**/

body{
    background-color: beige;
}